<nav>
  <div class="nav-wrapper">
      <a [routerLink]="['']" class="brand-logo">Print Portal</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li> <a [routerLink]="['packages']"><i class="fa fa-archive" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['recipes']"><i class="fa fa-cutlery" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['companies']"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['phone']"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['packages']"><i class="fa fa-usd" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['activities']"><i class="fa fa-trophy" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['rgbmatrix']"><i class="fa fa-square" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['rgbmatrix']"><i class="fa fa-sun-o" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['packages']"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['packages']"><i class="fa fa-gamepad" aria-hidden="true"></i></a></li>
          <li> <a [routerLink]="['bart']"><i class="fa fa-train" aria-hidden="true"></i></a></li>
      </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


